* {
  box-sizing: border-box;
  margin: auto;
  padding: 0
}

body {
  background-image: url(../assets/cubes.webp);
  font-family: "tablet-gothic", verdana, arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media only screen and (min-width: 1000px) {
body {
  width: 800px
}
html {
  min-width: 1000px;
}
}

div,
article,
section,
header,
nav,
figure,
li {
  position: relative
}

cards {
  height: auto;
  overflow: scroll;
  position: relative;
  width: auto
}

.group:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden
}

::-moz-selection {
  background: #333;
  color: #fff
}

html {
  background: linear-gradient(#270a38, transparent), linear-gradient(90deg, #792b41, transparent), linear-gradient(-90deg, #9b4258, transparent);
  padding: 5%
}

body,
input,
textarea {
  color: #333
}

div.logo-container {
  float: left
}
@media only screen and (max-width: 1000px) {
div.logo-container {
  float: none;
}
div.logo-title {
  width: 75%;
}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

h2,
h3 {
  color: #111;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 275px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400
}

h1 {
  background: #2d2d2d;
  background-color: #2d2d2d;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  letter-spacing: .1em;
  margin-bottom: 0;
  margin-left: -15%;
  margin-top: 0;
  padding: .5em 1em;
  text-align: center;
  text-shadow: -1px -1px 1px #161616, 2px 2px 1px #363636;
  text-transform: uppercase
}

ul.photo-list {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.photo-list li {
  float: left;
  height: 160px;
  list-style: none;
  margin: 1pt;
  padding: 0;
  width: 120px
}

ul.name-list {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 368px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.name-list li {
  float: left;
  height: 40px;
  list-style: none;
  margin: 1pt;
  padding: 0;
  width: 120px
}

h2 {
  color: #333;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  text-align: left
}

h3 {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  margin-top: 5pt;
  text-align: left
}

a {
  color: #7a259a;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-decoration: none;
  transition: border-color .2s ease-in-out
}

div.content a:hover {
  color: #7a259a;
  text-decoration: underline;
  text-decoration-thickness: 10%;
}

section.intro-content div.about p a {
  color: #fff;
  font-size: 1.2em
}

p,
li {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  padding: .5em 0
}

div#research-container p {
  font-size: .75em;
  margin-bottom: 0;
  padding-left: 1.25em;
  padding-right: .75em;
  text-align: justify
}

div#research-container li {
  font-size: .75em;
  margin-left: 1.25em;
  padding: .1em 0;
  text-align: left
}

h4 {
  color: #71315a
}

section.intro-content {
  margin-top: -4.5%;
  padding: 5%;
  width: 70%
}

div#about p {
  font-family: "tablet-gothic", verdana, arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: justify
}

div.page {
  height: auto;
  margin-bottom: 50px;
  width: auto;
  z-index: 2
}

div.purpl-header {
  height: auto;
  padding: 2% 2% 0;
  width: auto
}

div.purpl-header img {
  display: inline;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 15px;
  width: auto
}
@media only screen and (max-width: 1000px) {
div.purpl-header img {
  display: block;
}
}
p.acro {
  color: #2c2c2c;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 57px;
  line-height: 1.1;
  padding-top: 11px;
  text-align: left;
}
@media only screen and (max-width: 700px) {
p.acro {
  font-size: 37px;
  padding-top: 5px;
}
}

p.acro:hover {
  text-decoration: underline;
  text-decoration-color: #9d40c7;
  text-decoration-thickness: 10%;
}

p.acro span.acronym {
  color: #9d40c7
}

section.intro-content div.about {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #333;
  padding: 2% 5% 2% 30%
}

div.texture-container {
  background-color: #556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-size: 80px 140px;
  height: 50px;
  margin-left: -5.5%;
  margin-right: -5.5%
}

div.faculty-info p:first-of-type {
  margin-top: 15px
}

div.faculty-info p {
  color: #62a69f;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 2px;
  padding-top: 2px
}

div.cards-left {
  float: left;
  margin-left: 2.5%;
  width: 45%
}

div.cards-right {
  float: right;
  width: 45%
}

div.faculty-pic {
  float: left;
  margin-left: 40px;
  margin-top: -8px;
  width: auto
}

div.faculty-info {
  float: right;
  height: auto;
  margin-right: 30px;
  margin-top: 30px;
  padding-left: 0;
  width: 59%
}

div.cards {
  display: inline-block;
  height: auto;
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
  width: auto
}

div.facultycard {
  background: rgba(255, 255, 255, 0.95);
  float: left;
  height: auto;
  margin-right: 30px;
  margin-top: 30px;
  overflow: hidden;
  padding: 5px;
  width: auto
}

div.facultycard h4 {
  padding-top: 15px;
  text-transform: uppercase
}

div.wrapper p {
  display: block;
  font-size: 16px;
  margin-left: 70px;
  padding: 0
}

div.wrapper li {
  padding: 0
}

div.wrapper time {
  color: #7a259a;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  position: absolute
}

div.wrapper ul {
  list-style: none;
  margin-bottom: 0;
  padding-top: 10px
}

div.wrapper {
  display: inline-block;
  height: auto;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
  width: auto
}

div#news_items {
  max-height: 450px;
  padding-top: 20px
}

div.about,
div.facultycard,
div.container {
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15)
}

.students-container {
  background: hsla(0, 0%, 0%, .1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  width: 100%
}

.student-card {
  background: hsla(0, 0%, 0%, .1);
  background-image: radial-gradient(circle at bottom right, #dfdbd6, #cfc7c1 90%);
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  display: flex;
  margin: 1em;
  max-width: 200px;
  min-width: 100px;
  padding: 1em;
  text-align: center
}

.student-card a {
  font-size: 18px
}

div.purpl-nav {
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 10;
  overflow: auto;
  white-space: nowrap;
}

div.purpl-nav a.button {
  border: 2px solid #592f51;
  border-color: #592f51;
  border-radius: 4px;
  color: #592f51;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  padding: 12px;
  text-transform: uppercase;
  display: inline-block;
}

div.purpl-nav a.button:hover {
  background-color: #270a38;
  color: #d2d2d3
}

div.container {
  background: rgba(255, 255, 255, 0.9);
  color: #294643;
  display: block;
  font-size: 20px;
  height: auto;
  margin: 3% 5% 5%;
  padding: 1% 5% 10px;
  text-align: left;
  width: auto
}

div.joinus h4 {
  font-size: 25px;
  font-weight: 700
}

div.joinus h1 {
  margin-left: -5%
}

div.joinus ul {
  margin-bottom: 1%;
  margin-left: 8%
}

div.seminar-footer {
  font-size: 16px;
  margin-bottom: 3%;
  margin-top: -3%;
  text-align: center
}

div#courses-table {
  font-size: 20px;
  margin: auto;
  width: 90%
}

table {
  border-collapse: collapse;
  border-color: #7a259a;
  border-width: 2px;
  font-size: 15px
}

table th {
  background-color: #ccc4c0;
  border-color: #9b9b9b;
  border-style: solid;
  border-width: 2px;
  padding: 8px
}

table td {
  border-color: #9b9b9b;
  border-style: solid;
  border-width: 2px;
  padding: 8px
}

div.abstract-header {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 20px
}

ul.photo-list img,
ul.name-list img {
  height: 120px;
  width: 120px
}

ul.photo-list a .photo-caption,
ul.name-list a .photo-caption {
  background-color: rgba(30, 0, 45, .65);
  bottom: 0;
  color: #fff;
  font-size: 75%;
  font-weight: 300;
  height: 40px;
  left: 0;
  line-height: 1;
  padding: .25em;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 100
}

div.cards-title h1,
div.wrapper h1 {
  margin-left: -55px;
  text-transform: uppercase
}

div.facultycard img,
.student-card img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  height: 150px;
  margin: auto;
  width: 150px
}

#seminar-schedule,
#seminar-schedule-old {
  border: solid;
  border-width: 1px;
  font-size: 16px;
  margin: auto;
  width: 100%
}

#seminar-schedule td,
#seminar-schedule-old td {
  border: solid;
  border-width: 1px;
  padding: 8px
}

#seminar-schedule tr.invited,
#seminar-schedule-old tr.invited {
  background-color: #e4dce7
}

#seminar-schedule time,
#seminar-schedule-old time {
  color: #7a259a;
  font-size: 16px;
  font-weight: 700
}

div#courses-table table th,
div#courses-table table td {
  padding: 8px
}
