# Jekyll configuration

title: PurPL
description: The Purdue PL Research Group

# url is currently only used only for the RSS feed in feed.xml
url: https://purduepl.github.io/

# baseurl will often be '', but for a project page on gh-pages, it needs to
# be the project name.
# *** IMPORTANT: If your local "jekyll serve" throws errors change this to '' or
#     run it like so: jekyll serve --baseurl=''
baseurl: ''

# This can be '' to hide the Github nav button
github: ''

permalink: /:year/:month/:title
paginate: 10
excerpt_separator: <!--more-->

highlighter: rouge
# markdown: redcarpet
# redcarpet:
#   extensions: ["no_intra_emphasis", "fenced_code_blocks", "autolink", "tables", "with_toc_data"]

exclude: ['README.md', 'LICENSE', 'purplblog', 'Gemfile', 'Gemfile.lock', 'vendor']

future: true

collections:
  students:
  undergrads:
  postdocs:
  professors:
  courses:
  seminars:
    output: true
  alumni:
collections_dir: collections

# https://stackoverflow.com/questions/35639303/jekyll-getting-an-error-when-i-have-paginate-in-my-project
plugins: [jekyll-paginate]