---
layout: index
---

<div class="container">
  <div id="about">
    {% for post in site.categories.aboutpurpl %}
      {{ post.content }}
    {% endfor %}
  </div>

  <div class="wrapper" id="news">
    <h1>News</h1>
  <div id="news_items">
    <ul>
      {% for post in site.categories.news %}
      <li class="news-item">
      <time>
      {{ post.date | date: "%b %d" }}
      </time>
      {{ post.content }}
      </li>
      {% endfor %}
      <li id="more" style="display:none"><a href="?more">See all News posts</a></li>
    </ul>
  </div>
  </div>

  <div class= "cards" id="cards-container">

    <!-- faculty -->
  <div class="cards-title" id="people">
    <h1>Faculty</h1>
    <ul class="photo-list">
      {% assign i = 0 %}
      {% for post in site.categories.facultycard %}
      <li>
      <a href="{{ post.href }}">
      <img src="{{ post.img }}" alt="{{ post.title }}" />
      <span class="photo-caption">{{ post.title }}</span>
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- post docs and grad students -->
  <div class="cards-title">
    <h1 style="margin-top: 15px">Grad Students</h1>
    <ul class="photo-list">
      {% assign i = 0 %}
      {% for post in site.categories.studentstamp %}
      <li>
      <a href="{{ post.href }}">
      <img src="{{ post.img }}" alt="{{ post.title }}" />
      <span class="photo-caption">{{ post.title }}</span>
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

<!-- news -->
