---
layout: default
---

<div class="container" id="openings-container" role="main">
    <h1>Openings</h1>
    {% assign posts = site.openings | sort: 'position' %}
    {% for post in posts %}
    <h2> {{post.title}} </h2>
    <p>{{ post.content }}</p>
    {% endfor %}

    <h1>Postdoctoral positions with individual faculty</h1>
    {% assign posts = site.individualpostdoc | sort: 'position' %}
    {% for post in posts %}
    <h2> {{post.title}} </h2>
    <p>{{ post.content }}</p>
    {% endfor %}
</div>
