<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/purpl.css" rel="stylesheet">
</head>

<body>

<div id="purpl-header">
    <a id="purpl-banner" href="{{ site.baseurl }}"></a>
    <div id="purpl-title">
      <span class="purple">Pur</span>due <span class="purple">PL</span> Research Group.
    </div>
    <div class="purpl-navbar">
        <ul class="purpl-nav">
          <li class="purpl-navitem">
            <a href="{{ site.baseurl }}/index.html#people">People</a>
          </li>
          <!-- li class="purpl-navitem">
            <a href="{{ site.baseurl }}/research.html">Research</a>
          </li -->
          <li class="purpl-navitem">
            <a href="{{ site.baseurl }}/courses.html">Courses</a>
          </li>
          <!-- li class="purpl-navitem">
            <a href="{{ site.baseurl }}/resources.html">Resources</a>
          </li -->
          <li class="purpl-navitem">
            <a href="{{ site.baseurl }}/joinus.html">Join Us</a>
          </li>
          <li class="purpl-navitem">
            <a href="{{ site.baseurl }}/schedule.html">Schedule</a>
          </li>
        </ul>
    </div>
</div>
<br />
