<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
      content="This is the website of PurPL. PurPL is the cross-departmental umbrella group for programming languages research at Purdue University.">
    <link rel="preload" href="{{ site.baseurl }}/css/purpl.css" as="style" />
    <link href="{{ site.baseurl }}/css/purpl.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#1E002DA6" />
  </head>

  <body>
    <div class="page">
      <div class="purpl-header" id="header">
        <div class="logo-container">
          <a href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/assets/banner.webp" width="476"
              height="420" alt="logo">
          </a>
        </div>
        <div class="logo-title">
          <a href="{{ site.baseurl }}/index.html">
            <p class="acro">
              <span class="acronym">Pur</span>due&nbsp;University
              <span class="acronym">P</span>rogramming
              <span class="acronym">L</span>anguages&nbsp;Group
            </p>
          </a>
        </div>
      </div>
      <div class="purpl-nav">
        <a class="button" href="{{ site.baseurl }}/index.html#news">News</a>
        <a class="button" href="{{ site.baseurl }}/index.html#people">People</a>
        <a class="button" href="{{ site.baseurl }}/research.html">Research</a>
        <a class="button" href="{{ site.baseurl }}/courses.html">Courses</a>
        <a class="button" href="{{ site.baseurl }}/seminars.html">Seminars</a>
        <a class="button"
          href="https://github.com/PurduePL/purduepl.github.io">Github</a>
      </div>