# https://clementbm.github.io/coding/2020/05/31/automatically-validate-links-on-jekyll-website.html
name: CheckLinks
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  checklinks:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
      - name: Setup Rubygems, Bundler, jekyll
        run: |
          gem install jekyll bundler
          bundle install
      - name: Build jekyll website with drafts
        run: bundle exec jekyll build --drafts
      - name: Check for broken links
        run: |
          bundle exec htmlproofer --ignore-status-codes "403" --ignore-urls "/https://www.linkedin.com/,https://snapl.cs.berkeley.edu/2017/index.html,https://pl.cs.uchicago.edu/PLSummit/2024/,ve0x10.in,http://www.nebelwelt.net/" --log-level :debug ./_site